#display-calc {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.display-res {
  background-color: rgb(148, 142, 142);
  height: 100px;
}

#total-res {
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: right;
}

.cont-button {
  display: flex;
  flex-direction: column;
}

.btn-row {
  height: 100px;
  display: flex;
  flex-direction: row;
}

#btn-name {
  width: 25%;
  font-size: 20px;
  text-align: center;
  color: black;
  border: 1px solid rgb(200, 197, 197);
}
