#display-calc {
  width: 700px;
  margin: auto;
}

.display-res {
  background-color: gray;
  height: 100px;
}

#total-res {
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: right;
}

.cont-button .btn-row {
  height: 100px;
}

.btn-row {
  display: flex;
  flex-direction: row;
}

#btn-name {
  width: 25%;
  font-size: 20px;
  text-align: center;
  color: black;
  border: 1px solid gray;
}
